.textleft{text-align: left !important;}
.textcenter{ text-align: center !important; }
ul.dropdown-menu a.filterApply{color: #46b4c0;border-radius: 3px;margin: 5px 0px;float: left;}
.requests{ background: #fff;margin-top: -40px;padding:0px!important}
.requests ul.nav{background: #e7eef6;padding:0px 0px 0px 50px ;margin: 0px -30px 30px; }
.requests ul.nav .nav-item{ margin: 0px }
.requests ul.nav .nav-item a{color: #337ab7;font-weight: 400;font-size: 14px;padding: 12px 25px  }
.requests ul.nav .nav-item.active a{ background: #fff;border:none; border-radius: 0;color: #4c4c4c }
.requests ul.nav .nav-item a:hover{ background: #fff;color: #4c4c4c;border-radius: 0; }

.actionpopup .modal-header button.close{ margin: 0;position: absolute;top: 0;right: 0;}
.actionpopup .modal-title{width:100%}
.actionpopup .modal-body{ display: block;}
.actionpopup .modal-body{margin-bottom: 0px;text-align: center; }
.actionpopup .modal-body label{font-weight: normal;	margin: 0px 0px 5px;font-size: 14px}
.actionpopup .modal-body label.margin{ margin: 15px 0px 10px }
.actionpopup .modal-body span.required{ color: #8c2e0b  }
.actionpopup .form-item{ margin: 0px !important; }
.actionpopup .modal-body div p{padding: 10px;background: #ebebeb;border: 1px solid #b7b7b7; }
.actionpopup .modal-body div textarea{ width: 100%;min-height: 90px }
.actionpopup .modal-footer div.button button{ margin: 0px 5px;outline: none; }
.actionpopup .modal-body .errorClass{ border:1px solid #f00 }
.actionpopup .modal-body p.required{ color: #8c2e0b; padding: 0;background: none;border: none; } 
.actionpopup .modal-footer button.btn-primary.disabled{background: url("/cms/themes/jcdefault/images/loading.gif") no-repeat center #437abb;text-indent: -115px;width: 68px;}
.dt-more-container {
	text-align:center;
	margin:15px auto;
	cursor:pointer;
}
.dataTables_filter {
	float: left !important;
	width: 100%;
	text-align: left !important;
	border:solid 1px #ebebeb;
	background-color:#f1f7f8;
	padding:10px;border-bottom:0px;
}
.page-requests #myTab{margin-top:-30px!important}
.dataTables_filter label{display:block!important}
.dataTables_wrapper {
	width:100%!important;
	margin:auto!important
}
div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_filter label {
	margin:0px;
}
div.dataTables_wrapper div.dataTables_filter input{min-width: 210px;}
table.dataTable th {
	background-color:#f1f7f8;
}
table.dataTable {
	border:solid 1px #dceaec;
	border-top:none;
	color:#666666;margin-top:0px!important
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
background-color:#FFF
}
.table-bordered > tbody > tr > td {
	border-right:solid 0px #fff!important;
	background: #fff
}
.table-bordered > tbody > tr > td a{ cursor: pointer; }
.table > thead > tr > th {
	color: #4c4c4c;
    border: none !important;
    background: #f1f7f8 !important;
    padding: 12px !important;
}
.dataTables_wrapper .dropdown-menu {
	font-size:12px;
	font-weight:normal;
	padding:5px;
}
.dataTables_wrapper .dropdown-menu input {
	margin-right:5px;
}
.dataTables_wrapper th.select-filter div.dropdown {
	margin-left:5px;
	cursor:pointer;
	display:inline
}
table.dataTable.dtr-column > tbody > tr > td.control::before, table.dataTable.dtr-column > tbody > tr > th.control::before {
left:0px;
margin-left:0px;
color:blue;
border:none;
box-shadow:none;
line-height:20px;
background-color:#fff;
font-size:16px;
}
table.dataTable.dtr-column > tbody > tr.parent td.control::before, table.dataTable.dtr-column > tbody > tr.parent th.control::before {
background-color:#fff;
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
	border-bottom:none;
}
div.dataTables_wrapper div.dataTables_info {
	float:left
}
table.dataTable .actions {
	cursor:pointer;
	margin-left:15px;
	padding:2px 5px 0px
}
.dataTables_wrapper th.no-sort {
	white-space: normal !important;
}
.dataTables_wrapper th.select-filter {
	white-space: normal !important;
}