.page-resource-details .floatRight { float: right !important; }
.page-resource-details .absolute{ position: absolute !important;  }
.page-resource-details .relative { position: relative !important;  }
.page-resource-details .right{ right: 0px !important; }
.page-resource-details .top{ top: 0px !important }
.page-resource-details h3.resource-title{ text-transform: capitalize; font-size: 22px;margin-top: 10px }
.page-resource-details .resource-tabs{ background: #eef6f8; margin: 0px 0px 10px 0px }
.page-resource-details .resource-tabs li{padding: 8px 20px}
.page-resource-details .resource-tabs li a{ color: #48b4c1;text-decoration: none;}
.page-resource-details .resource-tabs li.active{background: #fff;border:1px solid #eef6f8; border-bottom: none  }
.page-resource-details .resource-tabs li.active a{color: #000;}
.page-resource-details .tab-content .tab-pane .section .action-list .actionButton{ margin-bottom: 20px;background: #48b4c1;border: 1px solid #48b4c1 }
.page-resource-details .tab-content .tab-pane .section .action-list .actionButton a{  color: #fff}
.page-resource-details .tab-content .tab-pane .section-main.bordered{border-bottom:1px solid #e1e1e1;margin-bottom: 10px}
.page-resource-details .tab-content .tab-pane .section-main .section-title{ margin: 25px 0px 20px 0px }
.page-resource-details .tab-content .tab-pane .section-main span.section-note{ font-size: 12px }
.page-resource-details .resource-details .row{ width: 90%;margin: 0px 5%;font-size: 12px;padding-bottom: 10px;  }
.page-resource-details .resource-details .row .left{ width: 14%;text-align: right; float: left; }
.page-resource-details .resource-details .row .right{ width: 84%;margin-left: 2%; float: right; }
.page-resource-details .tab-content .tab-pane .section table{color: #666666; font-size: 12px}
.page-resource-details .tab-content .tab-pane .section table th{background-color: #f1f7f8;border-bottom: none}
.page-resource-details .action-list ul li a,.action-list ul li a:hover,.action-list ul li a:focus{ background-color: transparent !important;padding: 7px 15px }
.page-resource-details .action-list ul li ul.dropdown-menu{ left: auto;right: 15px }
.page-resource-details  .title {display: none;}
.page-resource-details .text-center {text-align: inherit;}
.page-resource-details .region-content ul, .region-content ol, .block ol, .block ul, .region-content ul, .region-content ol {padding: 0 0 0 0!important;margin: 0!important;}
.page-resource-details .container.resource-details{margin-top: 25px !important}
.page-resource-details .container {padding: 0 0 0 0!important;margin: 0!important;width: 100%!important;}
.page-resource-details .jumbotron {background: #fff;}
.page-resource-details  .innerPage.bg-3 {padding: 0 16px 16px 16px;}
.page-resource-details table tr th, table tr th a, table tr th a:hover {color: #222222}
.page-resource-details table tr td div.action-list a{ color: #48b4c1;padding-right: 20px }
.page-resource-details table tr td, table tr td a, table tr td a:hover {color: #666666;background-color: #fff;}
.page-resource-details .tab-pane{min-height: 310px; float: left;width: 100%}
.page-resource-details .tab-pane span.resource-note{ float: left;margin: 15px 0px }
.page-resource-details div.messages {border: none;padding: 0; margin: 0px}
div.messages .alert{border-radius: 0px;padding: 10px 35px 10px 15px;margin: 0px}
div.messages .alert-success{ color: #fff;background: #b7d55d;border: none}
div.messages .alert-error{color: #fff; background: #f25151;border: none}
.page-resource-details .resource-detail{min-height: 380px;}
/*------resource-detail------*/
.resource-detail .backDiv{ text-align: center;margin: 20px 0px}
.resource-detail a.backbutton{ border: 1px solid #46b4c0;padding: 3px 20px; border-radius: 4px }
div.loading{opacity: 0.5;background: #000 url(../images/loading.gif) no-repeat scroll center center;width: 100%;height: 100%;z-index: 99999;top: 0;left: 0;position: fixed;}
.serverError{padding: 7px 50px;border: 1px solid #ffa397;background: url('../images/error-icon.jpg') no-repeat 10px 3px;border-radius: 4px;position: relative}
.divider{border-top: 1px solid #cfcdcd;margin-bottom: 20px}
.btn{padding: 1px 11px;}
.bootstrap-dialog.type-primary .modal-header{ background-color: #46B4C1 !important;border-top-left-radius:0;border-top-right-radius:0; }
.bootstrap-dialog.type-primary .modal-header .bootstrap-dialog-close-button{ opacity: 1 }
.bootstrap-dialog.type-primary .modal-header button.close{margin-top: 0px;margin-right: -1%;color: #46b4c1;border: 1px solid #fff;border-radius: 50%;height: 19px;width: 19px;background: #fff;opacity: 1;line-height: 0}
.bootstrap-dialog-footer-buttons .btn{padding: 3px 15px; }
.bootstrap-dialog-footer-buttons .btn.btn-primary{background-color: #46b4c1;border-color: #46b4c1; }
.multiselect-native-select .btn-group, .multiselect-native-select .btn{ width: 100%;text-align: left; }
.multiselect-native-select .btn .caret{position: absolute;right: 3%;top: 50%;}
.open > .multiselect-container.dropdown-menu{ width: 100% }
.multiselect.disabled{ background: rgba(0,0,0,0.05) url(../images/loading.gif) no-repeat scroll center right; }