.main-menu{background:#E9BF00!important}
.top > a{background:none!important;border-right:1px solid #efe4b2 !important}
.top:first-child > a {border-left: none!important;}
#mainWrapper .content-section .search-section button{background:#E9BF00;border:1px solid #E9BF00}
.main-menu ul li:hover{background:#967b00;}
.apply-success{background-color:#E9BF00!important}
.apply-success:hover{background-color:#E9BF00!important}
.bootstrap-dialog.type-primary .modal-header{background-color: #ffd92c!important;}
.page-resource-details .resource-tabs{background: #efe4b2!important;}
.resource-detail a.backbutton{border:solid 1px #f8d013!important;color: #f8d013!important;}
.btn-primary {background-color: #E9BF00!important;border-color:#E9BF00!important;}
.btn-default{border:solid 1px #f8d013!important;color: #f8d013!important;}
.btn-primary:hover ,.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color: #D9AF00!important;border-color:#D9AF00!important;}
.btn-default:hover{border:solid 1px #e8c003!important;color: #e8c003!important;}
.page-resource-details .tab-content .tab-pane .section .action-list .actionButton{background-color: #E9BF00!important;border-color:#E9BF00!important;}
.page-resource-details .tab-content .tab-pane .section .action-list .actionButton:hover {background-color: #D9AF00!important;border-color:#D9AF00!important;}
.page-resource-details .tab-content .tab-pane .section .action-list .actionButton a:hover{text-decoration:none!important}
#footer div.block:first-child {border-bottom: 1px solid #121212;}
#footer {border-left: 1px solid #121212;}
.offer-popup .modal-header, .modal-header{background: #ffd92c;}
.comment-wrapper .comment-form .form-actions{background: #E9BF00;}
